if SHIELD_LIKEEB_RIGHT

config ZMK_KEYBOARD_NAME
    default "likeeb 2.0"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif


if SHIELD_LIKEEB_LEFT || SHIELD_LIKEEB_RIGHT

config ZMK_SPLIT
    default y

endif
